body {
  width: 100%;
  height: 500px;
  align-items: center;
}
.header {
  display: block;
  width: 100%;
  background-color: rgb(160, 231, 255);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}
.button {
  display: block;
  text-decoration: none;
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: aqua;
  margin-top: 20px;
  color: black;
  position: relative;
  text-align: center;
}
.choose {
  margin-top: 100px;
  margin-left: 40%;
}

.acc {
  padding-left: 35%;
}
